@model Board.Models.Notice

@{
    ViewData["Title"] = "Create";
}

@section Styles{
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    
}


<style>
    .form-select {
        margin-top:30px;
        width: 300px;
    }

    .username{
        border: none;
        border-bottom: 1px solid gray;   
    }

    textarea {
        width: 80%;
        height:20.25em;
        border: 1px solid gray;
        resize: none;
        border-radius: 10px;
    }

    .drag-drop-inside{
        width: 500px;
        height: 300px;
        border: 1px solid gray;
        box-shadow: 2px 3px 9px hsl(0, 0%, 47%);
        padding: 10px;
    }

    .file_box {
        border: 2px solid rgb(13 110 253 / 25%);
        border-radius: 10px;
        margin-top: 20px;
        padding: 40px;
        text-align: center;
    }

    .upload-container {
        position: relative;
    }

        .upload-container input {
            border: 1px solid #92b0b3;
            background: #f1f1f1;
            outline: 2px dashed #92b0b3;
            outline-offset: -10px;
            padding: 100px 0px 100px 250px;
            text-align: center !important;
            width: 100%;
            height:40px;
        }

        .upload-container input:hover {
            background: #ddd;
        }

</style>

<h1>@ViewBag.Category</h1>
<h4>Notice</h4>
<hr />

<div>

   
     <div>
        @*enctype="multipart/form-data"*@
        <form asp-action="Create" method="post" id="createForm" >

    <div>

            <select asp-for="Category" name="Category" class="form-select" style="width:200px;">
                <option value="">All</option>
                <option value="잡담">잡담</option>
                <option value="유머">유머</option>
                <option value="정보">정보</option>
            </select>
            <div class="form-group username" style="margin-bottom:20px; margin-top:20px; width:200px;">
                <label asp-for="UserName" class="control-label">이름</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" id="title" style="margin-top:20px;">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control title" />
                @*<span asp-validation-for="Title" class="text-danger"></span>*@
            </div>
            
            <div class="content" style="margin-top:20px;">
                <label asp-for="Content" class="control-label"></label>

                <textarea asp-for="Content" id="editor" name="Content" class="form-control"></textarea>
               @* <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class=" form-control"></textarea>
            </div>
            @*<div class="upload-container">
                <input type="file" name="files" id="file" multiple />
            </div>*@
            <div class="form-group" style="margin-bottom:20px;">
                <input type="submit" value="게시글 작성" class="btn btn-secondary" @*onclick="fnSendFile()"*@ onclick="getContent()" />
            </div>
        </form>
    </div>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);


        function fnSendFile() {

            let formData = new FormData();
            let files = $('input=[name=files]')[0].files;
            for (i = 0; i < files.length; i++) {
                formData.append('files', files[i])
            }

            $.ajax({
                url: '/Notices/Create',
                data: formData,
                type: "POST",
                contentType: false,
                processData: false,
                async: false,
                success: function (data) {
                    if (data.result == 0) {
                                 파일 업로드 후 리스트 초기화
                        alert("파일 업로드 완료!");
                                 컨트롤러 메인 페이지로 이동
                        window.location.href = "/Home";
                    }
                    else {
                        alert("파일 업로드 실패!");
                    }
                },
                error: function (err) {
                             에러일 경우 에러 메세지 출력
                    alert(err.statusText);
                }

            });

        function getContent(){
            alert('45345345');
            var editorData = editor.getData();
            $('#editor').val(editorData);
        }

    </script>
}


